@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: hsl(226, 43%, 10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    font-size: 18px;
}

h1, h2, p {
    font-size: 18px;
    margin: 0;
    font-weight: 300;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(2, 1fr);
    gap: 3vmin;
    padding: 5rem 2rem;
}

.profile {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    background-color: hsl(235, 46%, 20%);
    border-radius: 2.5vmin;
    display: flex;
    flex-direction: column;
}

.profile-details {
    background-color: hsl(246, 80%, 60%);
    padding: 1.5rem;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
}

.profile-text {
    margin: 2.5rem 0;
}

.profile-picture {
    width: 40%;
    max-height: 100%;
    border-radius: 100%;
    border: 3px solid rgb(255, 255, 255);
}

.name {
    font-size: 2.25rem;
}


.profile-time {
    padding: 1.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button {
    background: none;
    color: hsl(235, 45%, 61%);
    border: none;
    padding: 0;
    font-weight: 300;
    cursor: pointer;
    outline: inherit;
    width: fit-content;
}

button:hover,
button:focus,
button.active {
    color: hsl(0, 0%, 100%);
}

.card {
    border-radius: 2.5vmin;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.header {
    text-align: right;
    grid-row: 1 / span 3;
    grid-column: 1 / span 1;
    border-radius: inherit;
}

.info {
    background-color: hsl(235, 46%, 20%);
    border-radius: inherit;
    grid-row: 2 / -1;
    grid-column: 1 / span 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    padding: 1.5rem;
}

.info:hover {
    background-color: hsl(235, 45%, 61%);
    cursor: pointer;
}

.category {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    place-self: center start;
}

.menu {
    grid-row: 1 / span 1;
    grid-column: 2 / -1;
    place-self: center end;
}

.menu:hover {
    filter: brightness(0) invert(1);
    cursor: pointer;
}

.duration {
    grid-row: 2 / span 1;
    grid-column: 1 / -1;
    font-size: 4rem;
    font-weight: 300;
    padding-top: 1rem;
    place-self: end start;
}

.previous {
    grid-row: 3 / -1;
    grid-column: 1 / -1;
    padding-top: 0.5rem;
    color: hsl(236, 100%, 87%);
}

.work {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.work-icon {
    background: hsl(15, 100%, 70%) url(../images/icon-work.svg) no-repeat right top;
}

.play {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.play-icon {
    background: hsl(195, 74%, 62%) url(../images/icon-play.svg) no-repeat right top;
}

.study {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
}

.study-icon {
    background: hsl(348, 100%, 68%) url(../images/icon-study.svg) no-repeat right top;
}

.exercise {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.exercise-icon {
    background: hsl(145, 58%, 55%) url(../images/icon-exercise.svg) no-repeat right top;
}

.social {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.social-icon {
    background: hsl(264, 64%, 52%) url(../images/icon-social.svg) no-repeat right top;
}

.self-care {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
}

.self-care-icon {
    background: hsl(43, 84%, 65%) url(../images/icon-self-care.svg) no-repeat right top;
}

.attribution { 
    font-size: 11px;
    text-align: center; 
    padding-bottom: 1rem;
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 1106px) {

    main {
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(4, 1fr);
        padding: 2rem;
    }
    
    .profile {
        grid-column: 1 / -1;
        grid-row: 1 / span 1;
    }
    
    .profile-details {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .profile-picture {
        width: 30%;
    }
    
    .name {
        font-size: 2.25rem;
    }
    
    .profile-time {
        flex-direction: row;
        justify-content: space-around;
    }

    .work {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .play {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }

    .study {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

    .exercise {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }

    .social {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }

    .self-care {
        grid-column: 2 / span 1;
        grid-row: 4 / span 1;
    }
} 

@media only screen and (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
        gap: 5vmin;
    }

    .profile-picture {
        height: 100%;
    }

    .name {
        font-size: 1.5rem;
    }

    .info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
    }
    
    .duration {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
        font-size: 2rem;
    }
    
    .previous {
        grid-row: 2 / -1;
        grid-column: 2 / -1;
        place-self: center end;
        font-size: 0.9rem;
    }
} 